* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(0, 0%, 95%);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 19rem;
    max-height: 33rem;
    padding: 3rem;
}

#d1 {
    background: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#d2 {
    background: hsl(184, 100%, 22%);
}

#d3 {
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 2rem;
    font-size: 15px;
    margin-bottom: 6rem;
}

.button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.8rem 1.9rem;
}

.button:hover {
    background-color: inherit;
    border: 2px solid hsl(0, 0%, 95%);
}

#d1 a {
    color: hsl(31, 77%, 52%);
}

#d1 a:hover {
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

#d2 a {
    color: hsl(184, 100%, 22%);
}

#d2 a:hover {
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

#d3 a {
    color: hsl(179, 100%, 13%);
}

#d3 a:hover {
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}